
Server/new-zealand-latest-free.shp.zip
Server/new-zealand-latest-free.shp/*
Server/New folder/new-zealand-latest-free.shp/*
Server/New folder/new-zealand-latest.osm.pbf
Server/New folder/new-zealand-latest-free.shp.zip
Server/New folder/gis_osm_buildings_a_free_1.shp
Server/New folder/gis_osm_landuse_a_free_1.shp
