@{
    ViewData["Title"] = "About";
}

<div class="row" style="padding: 5px;">
	<div class="col-md-7">
		<h2 class="featurette-heading">About Church Finder</h2>
		<p class="lead">Church Finder is a website created by a group of university students who want to help people find churches with in the north island or New Zealand. Whether you're a visitor, a newcomer, or a long-time resident, our website can help you discover churches in your area. We know that finding a church that fits your spiritual needs and preferences can be challenging, and that's why we created this website.</p>
		<p class="lead">Our team members come from different backgrounds and denominations, but we share a common passion for helping others. We believe that churches are an essential part of the community, and we want to make it easier for people to connect with them.</p>
	</div>
	<div class="col-md-5">
		<img class="img-fluid mx-auto rounded rounded-3" style="width: 500px; height: 350px; object-fit: cover;" src="https://images.unsplash.com/photo-1449695864328-789b27ab8eae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80">
	</div>
</div>

<hr class="featurette-divider">

<div class="row" style="padding: 5px;">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading">How to Use Our Website</h2>
		<p class="lead">Our website is easy to navigate and search for churches in New Zealand. Users can easily search for churches based on their denomination, location, or other criteria. We also provide a map for users to view the locations of churches around New Zealand.</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img class="img-fluid mx-auto rounded rounded-3" style="width: 500px; height: 350px; object-fit: cover;" src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80">
	</div>
</div>

<hr class="featurette-divider">

<div class="row" style="padding: 5px;">
	<div class="col-md-7">
		<h2 class="featurette-heading">Our Goals: <span class="text-muted">What We Aim to Achieve</span></h2>
		<p class="lead">Our goal is to provide a comprehensive database of churches in New Zealand, along with their locations, contact information, and other details. We aim to assist both locals and tourists in finding a church that meets their specific requirements.</p>
		<ul class="list-group list-group-flush list-group-numbered">
			<li class="list-group-item text-white" style="background: rgba(0,0,0,0) 100%;">To provide accurate and up-to-date information on churches in New Zealand</li>
			<li class="list-group-item text-white" style="background: rgba(0,0,0,0) 100%;">To make it easy for people to search for churches based on location, denomination, and other criteria</li>
			<li class="list-group-item text-white" style="background: rgba(0,0,0,0) 100%;">To promote diversity and inclusivity by featuring churches from different denominations and cultures</li>
		</ul>
	</div>
	<div class="col-md-5">
		<img class="img-fluid mx-auto rounded rounded-3" style="width: 500px; height: 350px; object-fit: cover;" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80">
	</div>
</div>

<hr class="featurette-divider">

<div class="row" style="padding: 5px;">
	<div class="row featurette">
		<div class="col-md-12">
			<h2 class="featurette-heading">Meet Our Team: <span class="text-muted">Who We Are</span></h2>
			<p class="lead">We are a group of four students at Massey University studying Computer Programing. As part of our coursework, we were tasked to create a website aimed at helping people find churches in New Zealand.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="border border-0 rounded-3 text-white" style="margin: 1px; padding: 10px; 
			background: linear-gradient(to top, rgba(33,37,41,1) 42%,rgba(0,0,0,0) 100%);">
			<img class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQHD6JDr78C0kQ/profile-displayphoto-shrink_200_200/0/1594959132756?e=1689811200&v=beta&t=LhZNxDcvAfnOYRqWt2vJHPWpqS4G-sD8JK_HuFzIQWs" alt="Profile image" width="140" height="140">
			<h2>Steven Brown</h2>
			<p>Steven created the database from the ground up, ensuring that all data is stored and retrieved properly. He also supervised the thorough testing of the website to ensure it is free of bugs and easy for users to navigate.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="border border-0 rounded-3 text-white" style="margin: 1px; padding: 10px;
			background: linear-gradient(to top, rgba(33,37,41,1) 42%,rgba(0,0,0,0) 100%);">
			<img class="rounded-circle" src="https://paradisevalleychristian.org/wp-content/uploads/2017/01/Blank-Profile.png" alt="Profile image" width="140" height="140">
			<h2>Madin Phagami</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="border border-0 rounded-3 text-white" style="margin: 1px; padding: 10px;
			background: linear-gradient(to top, rgba(33,37,41,1) 42%,rgba(0,0,0,0) 100%);">
			<img class="rounded-circle" src="https://paradisevalleychristian.org/wp-content/uploads/2017/01/Blank-Profile.png" alt="Profile image" width="140" height="140">
			<h2>Max Prohuber</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
		</div>
</div>
	<div class="col-lg-3">
		<div class="border border-0 rounded-3 text-white" style="margin: 1px; padding: 10px;
			background: linear-gradient(to top, rgba(33,37,41,1) 42%,rgba(0,0,0,0) 100%);">
			<img class="rounded-circle" src="https://paradisevalleychristian.org/wp-content/uploads/2017/01/Blank-Profile.png" alt="Profile image" width="140" height="140">
			<h2>Mohamed Mussa</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
		</div>
	</div>
</div>

<hr class="featurette-divider">