@{
    ViewData["Title"] = "Mab Page";
}


<div class="text-center">
    <h1 class="display-4">Locations</h1>

    @*Map goes Here ⬇⬇*@
    <div id="map">

    </div>
    @*Card*@
    <div style="zoom: 60%;">
        <div class="card" style="width: 18rem;">
            <img src="https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=yQj9sMobQMuxG6LD2-HbtQ&cb_client=search.gws-prod.gps&w=408&h=240&yaw=113.478546&pitch=0&thumbfov=100"
                 class="card-img-top card-img ratio ratio-1x1" alt="Church Image" width="300" height="200" style="object-fit: cover;">
            <div class="card-body text-black card-img-overlay" id="single" @*data-bs-toggle="modal" data-bs-target="#bigModal"*@ style="cursor: pointer; background: linear-gradient(to top, rgba(255,255,255,1) 42%,rgba(0,0,0,0) 100%); text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff;">
                <h5 class="card-title opacity-0">.</h5>
                <p class="card-text opacity-0" id="singleID">67</p>
                <h5 class="card-title">
                    <a class="text-dark" style="text-decoration:none;">
                        Congregational Church of Samoa New Zealand Inc.
                    </a>
                </h5>
                <p class="card-text">
                    <a class="text-dark" style="text-decoration:none;">
                        7 Lincoln Road, Henderson, Auckland 0610
                    </a>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi bi-back"></i> | Christian Church</li>
                <li class="list-group-item"><i class="bi bi-telephone"></i> | (09) 836 2125</li>
                <li class="list-group-item"><i class="bi bi-window-fullscreen"></i> | http://localhost:5264/</li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bigModal" tabindex="-1" aria-labelledby="bigModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-sm-down modal-dialog-centered text-black" id="singleResults">
        @*<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bigModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>*@
    </div>
</div>

<script>
    document.getElementById('single').onclick = function () {
        var myModal = new bootstrap.Modal(document.getElementById('bigModal'), {
            keyboard: false
        });
        myModal.show();
        var singleID = document.getElementById('singleID').textContent;
        console.log(singleID);
        fetch('@Url.Action("Single", "Home")/' + singleID)
        .then(response => { return response.text(); })
        .then(response => { document.getElementById('singleResults').innerHTML = response; });
    }
</script>
