@{
    ViewData["Title"] = "User Documtation";
}

<h1>@ViewData["Title"]</h1>

<iframe src="https://scribehow.com/embed/Church_User_Documentation__IoC_-3dgQyS8IwE6FTySXA?as=scrollable" width="100%" allowfullscreen frameborder="0" style="height: calc(100vh - 247px);"></iframe>